#root {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}

.center {
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
}

.App {
    text-align: center;
    font-size: 16px;
}

@media (max-width: 768px) {
    .App {
        font-size: 14px;
    }

    #root {
        padding: 0.5rem;
    }
}
